# Node dependencies package binaries
node_modules/

# Local runtime environment variable configurations
.env

# System diagnostic logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db